<p id="notice"><%= notice %></p>

<h1>Listing Ideas</h1>





<% @ideas.each do |idea| %>
      <div class="idea_box">



        <%= image_tag(idea.picture_url, :width => 100) if idea.picture.present? %>

        <p><%= link_to idea.name, idea_path(idea) %></p>

      </div>
<% end %>


<%= paginate @ideas %>


<br>

<%= link_to 'Napravi novu ideju', new_idea_path %>
